body{
    font-family: Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    border-width: 0px;

}

button{
    background-color: white;
    border: black;
    border-radius: 4px;
    border-style: solid;
    height: 30px;
    
    color: rgb(65, 0, 0);
    font-weight: 700;
    width: 80px;
    font-size: large;
    /* box-shadow: 1px -1px 0 0 rgb(0, 0, 0); */

}
.btn {
    height: 35px;
    display: flex;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 25px; */
    font-size: larger;
    height: 240px;
}

.header h1{
    margin-top: 50px;
}
.score{
    display: flex;
    justify-content: space-between;
    gap: 90px;
    align-items: center;

    
    
}

.human, .computer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}


.humanscore, .computerscore{
    font-size: 100px;
    color: rgb(200, 200, 200);
    position: absolute; 
    z-index: -1;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: auto;
}

.headerup{
    margin-top: 10px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.midsite{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.scoreboard{
    font-size: 30px;
    margin-top: -30px;

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    border: black;
    border-style: solid;
    border-width: 4px;
    box-shadow: 9px -8px 0 0 red;
    padding: 20px 10px 0px 10px;
    gap: 10px;
    font-weight: 700;
    font-size: large;
    height: 250px;
}
img .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

img {
    height: auto;
    width: 250px;

}

.cow{
    font-size: larger;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    margin-top: 10px;

}

/* .footerdown{
    font-weight: 100;
    font-size: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
}
.footerdown ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto 0px 0px auto;
    padding-left: 0px;

} */